{% style %}
  
  /* The Modal (background) */
  .age-overlay {
    position: fixed;
    display: none;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    overflow: hidden;
  }
  
  /* Modal Content */
  .age-modal {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 7rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .age-overlay h1 {
    margin: 0 !important;
  }

  .age-overlay p {
    margin-top: 1rem;
    text-align: center;
  }

  .age-overlay img {
    width: 60%;
    height: auto; 
  }

  .modal__buttons {
    display: flex;
    gap: 2rem;
  }

  .modal__buttons button {
    background: #fff;
    padding: 1rem 2rem;
    border: #FD3D67 1px solid;
    border-radius: 10px;
    color: #FD3D67;
    font-size: 1.6rem;
    font-family: 'Poppins';
    cursor: pointer;
  }

  .modal__buttons button:hover {
    background: #FD3D67;
    padding: 1rem 2rem;
    border: #FD3D67 1px solid;
    border-radius: 10px;
    color: #fff;
    font-size: 1.6rem;
    font-family: 'Poppins';
    cursor: pointer;
  }

  @media screen and (max-width: 990px) {

    .age-modal {
      width: 85%;
      text-align: center;
      padding: 3rem;
    }

    .age-overlay img {
      width: 100%;
      height: auto; 
    }

    .modal__buttons {
      display: flex;
      flex-direction: column;
    }
  }

{% endstyle %}


<div class="age-overlay">
  <!-- Modal content -->
  <div class="age-modal">

    <img src="{{ section.settings.logo | img_url: "master" }}">

    <h1>{{ section.settings.title }}</h1>
    <p>{{ section.settings.subtitle }}</p>

    <div class="modal__buttons">
      <button class="age-btn-no">I Am Under {{ section.settings.age }}</button>
      <button class="age-btn-yes">I Am +{{ section.settings.age }}</button>
    </div>

  </div>
</div>

{% javascript %}

window.onload = function () {

  var ageOverlay = document.querySelector('.age-overlay');
  var ageModal = document.querySelector('.age-modal');
  var ageBtnYes = document.querySelector('.age-btn-yes');
  var ageBtnNo = document.querySelector('.age-btn-no');

  var showAgeModal = function () {
    if (sessionStorage.getItem('ageConfirmed') === 'true') {
      ageOverlay.style.display = 'none';
    } else {
      ageOverlay.style.display = 'flex';
    }
  }
  var hideAgeModal = function () {
    ageOverlay.style.display = 'none';
  }
  var confirmAge = function () {
    sessionStorage.setItem('ageConfirmed', true);
    hideAgeModal();
  }
  var denyAge = function () {
    window.location.href = 'https://www.google.com/';
  }

  setTimeout(showAgeModal, 500); 
  ageBtnYes.addEventListener('click', confirmAge);
  ageBtnNo.addEventListener('click', denyAge);
  
  if (sessionStorage.getItem('ageConfirmed') === 'true') {
    
    hideAgeModal();
  }

}

{% endjavascript %}

{% schema %}
{
  "name": "Pop up",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Welcome"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Please verify your age to continue"
    },
    {
      "type": "text",
      "id": "age",
      "label": "limit_age",
      "default": "24"
    }
  ]
}
{% endschema %}